[submodule "HackingWithSwift"]
	path = HackingWithSwift
	url = git@github.com:twostraws/HackingWithSwift.git
[submodule "Swift30Projects"]
	path = Swift30Projects
	url = git@github.com:devalooper/Swift-30-Projects.git
[submodule "LocalAPI"]
	path = forks/LocalAPI
	url = git@github.com:ferhanakkan/LocalApi.git
[submodule "forks/CwlFeedReader"]
	path = forks/CwlFeedReaders
	url = git@github.com:mattgallagher/CwlFeedReader.git
[submodule "forks/WeatherApp"]
	path = forks/WeatherApp
	url = git@github.com:stephdiep/WeatherApp.git
[submodule "forks/urklc-wordle"]
	path = forks/urklc-wordle
	url = git@github.com:urklc/Wordle.git
[submodule "forks/Dimillian-MovieSwiftUI"]
	path = forks/Dimillian-MovieSwiftUI
	url = git@github.com:Dimillian/MovieSwiftUI.git
[submodule "forks/Dimillian-RedditOS"]
	path = forks/Dimillian-RedditOS
	url = git@github.com:Dimillian/RedditOS.git
[submodule "forks/bank"]
	path = forks/bank
	url = git@github.com:asilarslan/Bank.git
